<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Head -->
  {% include 'public/head.html' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

  <!-- Navigation -->
  {% include 'public/nav.html' %}

  <!-- Page Content -->
  {% include 'modpage/cafe/cafe.html' %}
  <!-- /.container -->

  <!-- Footer -->
  {% include 'public/footer.html' %}
 

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>