<div class="cnt_area _roulette_area" queryid="C1608100071729950548">
    <div class="situation" queryid="C1608100071729109998">
        <p>각 판을 선택하여 옵션 내용을 설정해주세요.</p>
    </div>
    <div class="canvas_area"> <span class="mark" style="display:none;"></span>
        <div class="_roulette_body"> <img
                src="https://ssl.pstatic.net/sstatic/keypage/outside/mobilegame/circle/im/bg_circle6.png" width="264"
                height="263" alt="원판">
            <div class="entry_area2 pp6" style="display:none">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="selt"> <span class="choice"><span class="hc">회전판 선택됨</span></span>
            <div> <span class="up" style="display:none;"></span> <span class="down" style="display:none;"></span> </div>
        </div>
        <div class="entry_area pp6" queryid="C1608100125293968286">
            <ul>
                <li> <label for="rouletteEntry1" style="display: none;">옵션1</label> <input id="rouletteEntry1"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry2" style="display: none;">옵션2</label> <input id="rouletteEntry2"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry3" style="display: none;">옵션3</label> <input id="rouletteEntry3"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry4" style="display: none;">옵션4</label> <input id="rouletteEntry4"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry5" style="display: none;">옵션5</label> <input id="rouletteEntry5"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry6" style="display: none;">옵션6</label> <input id="rouletteEntry6"
                        type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry7">옵션7</label> <input id="rouletteEntry7" type="text" maxlength="7"> </li>
                <li> <label for="rouletteEntry8">옵션8</label> <input id="rouletteEntry8" type="text" maxlength="7"> </li>
            </ul>
        </div>
    </div>
    <div class="btn_area _roulette_btn" style="display: block;" queryid="C1608100125295182127"> <button class="set"
            style="display: inline-block;">설정완료</button> <button class="re_set" style="display:none">재설정하기</button>
        <button class="again" style="display:none">다시돌리기</button> <button class="rfsh" style="display:none">새원판</button>
        <button class="turn" style="display:none">원판돌리기</button> </div>
    <div class="choice_area _roulette_status" queryid="C1608100071729739104" style="display: none;">
        <dl>
            <dt>판의 텍스트 입력수</dt>
            <dd class="_roulette_status_current on">6개 입력중</dd>
            <dt>옵션개수</dt>
            <dd class="_roulette_status_total">&nbsp;/&nbsp;총 6개</dd>
        </dl>
    </div>
</div>