<div class="container">
  <link href="static/css/font.css" rel="stylesheet" type="font/css">
    <h1 class="my-4">부산대 주변 소개</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('food')}}"><img class="card-img-top" src="/static/images/food.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('food')}}">음식점</a>
            </h4>
            <p class="card-text">부산대 음식점을 소개합니다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('cafe')}}"><img class="card-img-top" src="/static/images/cafe.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('cafe')}}">카페</a>
            </h4>
            <p class="card-text">부산대 카페를 소개합니다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('enjoy')}}"><img class="card-img-top" src="/static/images/play.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('enjoy')}}">놀거리</a>
            </h4>
            <p class="card-text">부산대 놀거리를 소개합니다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('review')}}"><img class="card-img-top" src="/static/images/review2.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('review')}}">리뷰</a>
            </h4>
            <p class="card-text">부산대 근처 가게 리뷰</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('ad')}}"><img class="card-img-top" src="/static/images/promotion.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('ad')}}">우리가게 홍보</a>
            </h4>
            <p class="card-text">우리 가게를 홍보합니다.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href='#'><img class="card-img-top" src="/static/images/game.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">미니게임</a>
            </h4>
            <p class="card-text">메뉴 선택이 어려우스면 돌림판으로 정해보세요~</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>


  </div>