<div class="container">
  <link href="static/css/font.css" rel="stylesheet" type="font/css">
    <h1 class="my-4">부산대 주변 소개</h1>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('food')}}"><img class="card-img-top" src="/static/images/food.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('food')}}">음식점</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('cafe')}}"><img class="card-img-top" src="/static/images/cafe.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('cafe')}}">카페</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('enjoy')}}"><img class="card-img-top" src="/static/images/play.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('enjoy')}}">놀거리(링크걸기)</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('review')}}"><img class="card-img-top" src="/static/images/review2.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('review')}}">리뷰 (링크)</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('ad')}}"><img class="card-img-top" src="/static/images/promotion.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('ad')}}">우리가게 홍보 (링크)</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{url_for('game')}}"><img class="card-img-top" src="/static/images/game.jpg" width="300" height="250"></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{url_for('game')}}">미니게임(링크)</a>
            </h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <hr>


  </div>