<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      </ol>
      
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(static/images/bg1.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h1>부산대 주변을 소개합니다</h1>
            <h4>음식점, 카페, 놀거리등 부산대에 주변 가게를 소개합니다.</h4>
          </div>
        </div>
      </div>

    </div>
</header>