<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      </ol>
      
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(static/images/bg.jpg)">
          <div class="carousel-caption d-none d-md-block">
            <h2>배경화면 로고 삽입</h2>
            <p>문구 삽입</p>
          </div>
        </div>
      </div>

    </div>
</header>