<body>

  <!-- Page Content -->
  <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">음식점 조회 페이지 입니다!
      <small>룰루랄라</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">
      <div class="col-md-7">
        <fieldset>
          <form>
            <select name="keyword" id="keyword">
                <option value="" selected>-- 선택 --</option>
                <option value="한식">한식</option>
                <option value="양식">양식</option>
                <option value="닭/오리요리">닭/오리요리</option>
                <option value="일식/수산물">일식/수산물</option>
                <option value="분식">분식</option>
                <option value="패스트푸드">패스트푸드</option>
                <option value="중식">중식</option>
            </select>
            <input type='submit' value='조회'/>
          </form>
          <ul id='results'>
          </ul>
        </fieldset>
        <script>
          $('form').on('submit', (evt)=>{
              evt.preventDefault()
              console.log('이벤트를 인터셉트 했다')
              let param = $( '[name=keyword]').val() // 검색어 획득
              $.get({
                  url:'/search',       // 서버 주소
                  data : 'k=' +param,  // 검색어 파라미터, 키=값
                  dataType:'json',     // json형식으로 보내주세요(xml, txt)
                  success:(res)=>{     // 통신성공 후 처리할 일 구현(함수)
                      // console.log('성공', res)
                      // 1. ul을 특정한다. 그리고 자식들을 비운다
                      $('#results').empty()
                      // 2. 데이터를 한 개씩 꺼내서, ul의 자식으로 동적 추가
                      let keyword = $('[name=keyword]').val() // 검색어
                      $.each(res, (idx, food)=>{
                          console.log(idx, food)
                          // 3. 자식의 형태를 만든다
                          let html = `<li>${food.name}</li>` // js 문자열 포멧팅
                          // 4. 자식으로 추가
                          $('#results').append(html)
                      })
                      // 5. 검색어 삭제
                      $( '[name=keyword]').val('')
                  },                   
                  error:(err)=>{         // 통신실패
                      console.log('실패', err)
                  }                   
              })
              return false // submit 이벤트 kill
          })
        </script>
          
          <!-- <iframe name="detail" style="width:100%; height:300px; border:none"></iframe> -->
      </div>

      
      <div class="col-md-5">
       <script>
        $(document).ready(function(e) {
        /* a요소를 클릭 했을 시 */
            $('a').click(function(){
        /* iframe 요소의 src 속성값을 a 요소의 data-url 속성값으로 변경 */ 
                $('#iframe').attr('src',$(this).attr('data-url'));
                })
        });
        </script>
        
        <a  data-url="{{url_for('map_han')}}">한식</a>
        <a  data-url="{{url_for('map_yang')}}">양식</a>
        <a  data-url="{{url_for('map_bun')}}">분식</a>
        <a  data-url="{{url_for('map_jung')}}">중식</a>
        <a  data-url="{{url_for('map_enjoy')}}">주점</a>
        <a  data-url="{{url_for('map_chicken')}}">치킨</a>
        <a  data-url="{{url_for('map_bread')}}">빵집</a>
        <iframe id="iframe" width="450" height="400" src="{{url_for('map')}}"></iframe>
      </div>


    </div>
    <h3 class="my-4"></h3>
  </div>
  <!-- /.container -->  

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 

</body>
