<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4"> 랜덤 게임입니다.
            <small>룰루랄라</small>
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="col-md-7">
                <form name="search" id="search">
                    ​<input type="text" id="input"> <br>
                    <textarea id="output"></textarea>
                </form>

                <Script Language="JavaScript">
                    A = new Array();


                    function input(){
                        var input = document.getElementById("input").value;
                        temp = input;
                        A.push(temp)
                        }
                        

                    function output(){
                        rand = Math.floor(A.length * Math.random());
                        randText = A[rand];
                        document.getElementById("output").value = randText;
                    }
                    
                   
                </Script>
                <!-- <iframe name="detail" style="width:100%; height:300px; border:none"></iframe> -->
            </div>
            <button onclick="input()">입력받기</button>
            <button onclick="output()">출력하기</button>
            <div class="col-md-5">

            </div>


        </div>
        <h3 class="my-4"></h3>
    </div>
    <!-- /.container -->

    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>