<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>TEAM 팥파야</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{url_for('home')}}">Home</a>
      </li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="/static/images/bong.jpg" alt="">
      </div>
      <div class="col-lg-6">
        <h2>Mini_Project :   <img class="img-fluid rounded mb-4" src="/static/images/logo.png" width="200" height="50"></h2> 
        <p>부산대 주변 소개</p>
        <p>음식점, 카페등 위치를 알려주고 가게 리뷰를 통해 확인</p>
        <p>홍보관을 통해 알려지지 않은 가게 소개</p>
      </div>
    </div>
    <!-- /.row -->  
    <br>

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Kim.png" alt="">
          <div class="card-body">
            <h4 class="card-title">김민재</h4>
            <h6 class="card-subtitle mb-2 text-muted">사원1</h6>
            <p class="card-text">데이터 수집, DB연동</p>
          </div>
          <div class="card-footer">
            <a href="#">kamunbee@git.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Park.png" alt="">
          <div class="card-body">
            <h4 class="card-title">박정수</h4>
            <h6 class="card-subtitle mb-2 text-muted">대표님</h6>
            <p class="card-text">DB연동</p>
          </div>
          <div class="card-footer">
            <a href="#">pjeongsu@git.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Lee.png" alt="">
          <div class="card-body">
            <h4 class="card-title">이창환</h4>
            <h6 class="card-subtitle mb-2 text-muted">사원2</h6>
            <p class="card-text">웹페이지 구성</p>
          </div>
          <div class="card-footer">
            <a href="#">dch9610@git.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  <hr>

  </div>