<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>WITH 부산대</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{url_for('home')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
      </div>
      <div class="col-lg-6">
        <h2>WITH 부산대</h2>
        <p>부산대의 음식점과 카페를 소개</p>
        <p>홈페이지를 이용하는 고객에 정보제공</p>
        <p>지역경제 활성화</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Park.png" alt="">
          <div class="card-body">
            <h4 class="card-title">박정수</h4>
            <h6 class="card-subtitle mb-2 text-muted">대표</h6>
            <p class="card-text">무서운 호랑이</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Kim.png" alt="">
          <div class="card-body">
            <h4 class="card-title">김민재</h4>
            <h6 class="card-subtitle mb-2 text-muted">사원1</h6>
            <p class="card-text">새우로써 힘들어함</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="/static/images/Lee.png" alt="">
          <div class="card-body">
            <h4 class="card-title">이창환</h4>
            <h6 class="card-subtitle mb-2 text-muted">졸개1</h6>
            <p class="card-text">매일 혼나는 중</p>
          </div>
          <div class="card-footer">
            <a href="#">name@example.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->



  </div>