<div class="col-lg-6 mb-8">
    <div class="card card-outline-primary h-20">
      <div class="card-body">
        <input class = "review-name" style = "width:200px; height:25px" placeholder="작성자"/>
      </div>
        <h6>가게명</h6>
        <input class = "food-name" style = "width:100px; height:25px"/>
        <h6>메뉴</h6>
        <input class = "menu" style = "width:100px; height:25px"/></br>
        <h6>후기</h6>
        <input class = "review" style = "width:450px; height:30px"/></br>

        <li class="list-group-item">
          <a href="#" class="btn btn-primary">리뷰 등록</a>
        </li>
      </ul>
    </div>
  </div>
