<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Head -->
  {% include 'public/head.html' %}
</head>


<body>
  {% include 'public/nav.html' %}

  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"> 리뷰 보기</h1>
    <div class="row">
      <div class="col-lg-2 mb-2">
        <div class="card h-15">
          <a class="card-header" href="{{url_for('review')}}">리뷰작성
          </a>
        </div>
        <div class="card h-15">
          <a class="card-header" href="{{url_for('review_r')}}">리뷰보기
          </a>
        </div>
      </div>
      <div class="col-lg-10 col-6">
        <table class="table table-bordered">
          <thead width="300px">
              <tr>
                  <th width="100px"><center>작성자</center></th>
                  <th width="100px"><center>가게명</center></th>
                  <th width="100px"><center>평점</center></th>
                  <th width="100px"><center>메뉴</center></th>
                  <th width="100px"><center>가격</center></th>
                  <th width="200px"><center>리뷰</center></th>
              </tr>
          </thead>
          <tbody>   
              {% for review in reviews: %}
              <tr>
                  <td><center>{{ review.reviewer }}</center></td>
                  <td><center>{{ review.name }}</center></td>
                  <td><center>{{ review.star }}</center></td>
                  <td><center>{{ review.menu }}</center></td>
                  <td><center>{{ review.price }}</center></td>
                  <td><center>{{ review.review }}</center></td>
              </tr>
              {% endfor %} 
          </tbody>
      </table>
      </div>
    </div>
  </div>
    {% include 'public/footer.html' %}
</body>
</html>