<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<form method="post">
  <div>

    <label>작성자</label>
    &#160;<input class="food-reviewer" type="text" name="reviewer" style="text-align:left; width:150px; height:25px;"
      request /><br>
  </div>
  <div>
    <label> 음식점</label>
    &#160;<input type=text class="food-name" name="name" style=" width:100px; height:25px" request />
    <label> 평점</label>
    &#160;<input class="food-star" name="star" style="width:100px; height:25px" placeholder="1~10" request />

  </div>
  <div>

    <label> 메뉴 &#160;&#160;</label>
    &#160;<input type="text" class="food-menu" name="menu" style="width:100px; height:25px" request />
    &#160;<label> 가격</label>
    <input type="number" class="food-price" name="price" style="width:100px; height:25px" request /><br>

    <label>후기</label>
    &#160; &#160;<input class="food-review" name="review" style="width:450px; height:50px" request />

  </div>
  <button type='submit' onclick="review()" class="btn btn-primary btn-block">리뷰 등록</button>
</form>
<!-- style="color: #FFFAF0; background-color:#00BFFF; border:none; width:100px; height:30px"/> -->

<!-- <script src="../../plugins/jquery/jquery.min.js"></script>
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script> -->