<div class="col-lg-6 mb-8">
    <form action="#">
        <div class="card card-outline-primary h-20">
            <div class="form-group">
                &#160;&#160;&#160; <label> 작성자</label><br>
                &#160; <input class="review-name" style="width:100px; height:25px"/><br>

                &#160;&#160; <label>음식점 이름</label><br>
                &#160; <input class="food-name" style="width:100px; height:25px" /><br>
                
                &#160;&#160;&#160;메뉴</label><br>
                &#160; <input class="menu" style="width:100px; height:25px" /><br>

                &#160;&#160;&#160;<label>후기</lavel><br>
                &#160;<input class="review" style="width:450px; height:50px" />
                <br>
                <li class="list-group-item">
                    <a href="#" class="btn btn-primary">리뷰 등록</a>
                </li>
            </div>
        </div>
    </form>
</div>