<div class="col-lg-6 mb-8 " >
    <div class="card card-outline-primary h-20">
        <div class="form-group">
        
            <!-- <label> 작성자&#160;&#160;&#160;</label> -->
            <input class="review-name" style= "text-align:center; "width:150px; height:25px" placeholder="작성자"/><br>
            <form class= 'form-inline'>
                <div>
                    <label> 음식점이름</label> <input class="food-name" style="width:100px; height:25px" />
                </div>
                <div>
                    <label> 별점</label>
                    &#160;&#160;&#160;&#160;&#160;&#160;&#160;<input class="food-star" style="width:100px; height:25px" />
                </div>
            </form>
            <form class= 'form-inline'>
                <div>
                    <label> 메뉴</label>
                    <input type="text" class="menu" style="width:100px; height:25px"  /><br>
                </div>
                <div>
                    <label> 가격</label>
                    &#160;&#160;&#160;&#160;&#160;&#160;&#160;<input type="number" class="menu" style="width:100px; height:25px"  /><br>
                </div>
            </form>
            <label> 후기</lavel><br>
            <input class="review" style="width:450px; height:50px"/>
            <br>
            <li class="list-group-item">
                <a href="#" class="btn btn-primary">리뷰 등록</a>
            </li>
        </div>
    </div>
</div>